.main-radio-wrap{
    border: 1px solid $black;
    margin: 0 10px 30px 10px;
    padding: 20px 20px;
}
.element-head{
    &.ant-text-left{
        text-align: left;
    }
}

.ant-radio {
    display: flex;
    gap: 16px;
    padding: 0 20px;
    margin-bottom: 20px;
    input[type="radio"] {
        display: none; 
    }
    .ant-radio-wrap{
        label {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            font-size: 16px;
            user-select: none;
            font-family: $roboto;
            font-weight: 700;
            font-size: 18px;
            letter-spacing: -0.72px;
            color: $black;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 18px;
                height: 18px;
                border: 1px solid $green;
                border-radius: 2px;
                background-color: transparent;
                transition: all 0.3s ease;
            }

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 4px;
                transform: translateY(-50%);
                width: 12px;
                height: 12px;
                background-color: $green;
                opacity: 0;
                transition: all 0.3s ease;
                border-radius: 1px;
            }
        }
        input[type="radio"]:checked+label {
            &::before {
                border-color: $green;
            }

            &::after {
                opacity: 1;
            }
        }
        &.ant-radio-dis{
            opacity: 0.5;
        }
    }
}

@media (min-width: 1200px) {

    .main-radio-wrap{
        margin: 0 get-vw(100px) get-vw(60px) get-vw(100px);
        padding: get-vw(30px) get-vw(30px);
    }

    .ant-radio {
        display: flex;
        gap: get-vw(30px);
        padding: 0 get-vw(20px);
        margin-bottom: get-vw(20px);
    input[type="radio"] {
        display: none; 
    }
    .ant-radio-wrap{
        label {
            padding-left: get-vw(60px);
            font-size: get-vw(20px);
            letter-spacing: get-vw(-0.8px);
            &::before {
                width: get-vw(32px);
                height: get-vw(32px);
                border-radius: get-vw(2px);
            }

            &::after {
                left: get-vw(6px);
                transform: translateY(-50%);
                width: get-vw(22px);
                height: get-vw(22px);
                border-radius: get-vw(5px);
            }
        }
    }
}
}
