// Colors
$black: #1d1d1b;
$white: #ffffff;
$green: #9FCD22;
$green2: #004216;
$border: #f1f1f1;
$grey: #9E9E9E;
$red: #FF435D;
$light-green: #F5FAF6;
$black-2:#202224;
$grey-2: #636361;
$grey-3:#B5B5B5;
$green-3:#95C11F;

// Fonts
$barlow: 'Barlow', serif;
$roboto: 'Roboto', serif;
$abhaya: 'Abhaya Libre', serif;
$mukta: 'Mukta Malar', serif;