.product-carousel{
    margin-bottom: 50px;
    .wrapper{
        .col-1{
            padding: 0 20px;
        }
        .col-2{
            .product-slider{
                position: relative;
                padding-top: 110px;
                .owl-stage-outer{
                    .owl-stage{
                        display: flex;
                        .owl-item{
                            position: relative;
                            padding-bottom: 3px;
                            .item{
                                border: 1px solid #E1E1E1;
                                height: 100%;
                                .wrap {
                                    padding: 30px 42px 100px;

                                    .wishlist {
                                        display: flex;
                                        flex-direction: row;
                                        flex-wrap: nowrap;
                                        justify-content: flex-end;
                                        align-items: center;
                                        padding: 16px 16px 0 0;
                                        position: absolute;
                                        right: 0;
                                        top: 0;

                                        svg {
                                            width: 22px;
                                            height: 20px;
                                            stroke: #D9D9D9;
                                            fill: transparent;
                                        }

                                        &.active {
                                            svg {
                                                fill: $red;
                                                stroke: $red;
                                            }
                                        }
                                    }

                                    .image {
                                        img {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                        }
                                    }

                                    .content {
                                        .pro-name {
                                            padding-bottom: 30px;

                                            .sin {
                                                color: $black;
                                                text-align: center;
                                                font-family: $abhaya;
                                                font-size: 24px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 26px;
                                                letter-spacing: -1.2px;
                                                padding-bottom: 10px;
                                            }

                                            .eng {
                                                color: $black;
                                                text-align: center;
                                                font-family: $roboto;
                                                font-size: 24px;
                                                font-style: normal;
                                                font-weight: 700;
                                                line-height: 26px;
                                                letter-spacing: -1.2px;
                                                padding-bottom: 10px;
                                            }

                                            .tam {
                                                color: $black;
                                                text-align: center;
                                                font-family: $mukta;
                                                font-size: 18px;
                                                font-style: normal;
                                                font-weight: 700;
                                                line-height: 20px;
                                                letter-spacing: -0.9px;
                                            }
                                        }

                                        .price {
                                            color: $black;
                                            text-align: center;
                                            font-family: $roboto;
                                            font-size: 16px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: 22px;
                                            letter-spacing: -0.32px;
                                            padding-bottom: 10px;

                                            span {
                                                display: inline-block;
                                                font-weight: 700;
                                            }
                                        }

                                        .stock {
                                            color: $black;
                                            text-align: center;
                                            font-family: $roboto;
                                            font-size: 14px;
                                            font-weight: 400;
                                            line-height: 22px;
                                        }

                                        .common-btn-1 {
                                            position: absolute;
                                            bottom: 30px;
                                            left: 0;
                                            right: 0;
                                            margin: 0 auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .owl-nav {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    gap: 25px;

                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;

                    .owl-prev {
                        width: 57px;
                        height: 57px;
                        border: 1px solid #B6E537;
                        border-radius: 50%;
                        background: $green;
                        box-shadow: rgba($green, 0.2) 0px 8px 24px;

                        svg {
                            fill: $white;
                        }

                        &.disabled {
                            border: 1px solid #E1E1E1;
                            background: $white;
                            box-shadow: none;

                            svg {
                                fill: #E1E1E1;
                            }
                        }
                    }

                    .owl-next {
                        width: 57px;
                        height: 57px;
                        border: 1px solid #B6E537;
                        border-radius: 50%;
                        background: $green;
                        box-shadow: rgba($green, 0.2) 0px 8px 24px;

                        svg {
                            fill: $white;
                        }

                        &.disabled {
                            border: 1px solid #E1E1E1;
                            background: $white;
                            box-shadow: none;

                            svg {
                                fill: #E1E1E1;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .product-carousel{
        margin-bottom: get-vw(100px);
        .wrapper{
            padding: 0 get-vw(240px);
            .col-1{
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                gap: get-vw(50px);
                justify-content: space-between;
                padding-bottom: get-vw(50px);
                padding-left: 0;
                padding-right: 0;
                .common-title{
                    text-align: left;
                    padding: 0;
                }
                .common-desc{
                    padding: 0;
                    margin: 0;
                    text-align: left;
                    width: get-vw(600px);
                }
            }
            .col-2{
                .product-slider{
                    position: relative;
                    padding-top: 0;
                    border-left: get-vw(1px) solid #E1E1E1;
                    .owl-stage-outer{
                        .owl-stage{
                            display: flex;
                            .owl-item{
                                border-top: get-vw(1px) solid #E1E1E1;
                                position: relative;
                                padding-bottom: get-vw(3px);
                                .item {
                                    border: get-vw(1px) solid #E1E1E1;
                                    padding: 0;
                                    position: relative;
                                    margin: get-vw(-1px) 0 0 get-vw(-1px);
                                    overflow: hidden;
                                    cursor: default;
            
                                    .wrap {
                                        padding: get-vw(30px) get-vw(42px) get-vw(240px);
            
                                        .wishlist {
                                            display: flex;
                                            flex-direction: row;
                                            flex-wrap: nowrap;
                                            justify-content: flex-end;
                                            align-items: center;
                                            padding: get-vw(16px) get-vw(16px) 0 0;
                                            position: absolute;
                                            right: 0;
                                            top: 0;
                                            cursor: pointer;
            
                                            svg {
                                                width: get-vw(22px);
                                                height: get-vw(20px);
                                                stroke: #D9D9D9;
                                                fill: transparent;
                                            }
            
                                            &.active {
                                                svg {
                                                    fill: $red;
                                                    stroke: $red;
                                                }
                                            }
                                        }
            
                                        .image {
                                            padding-bottom: get-vw(20px);
            
                                            img {
                                                width: 100%;
                                                height: 100%;
                                                object-fit: cover;
                                            }
                                        }
            
                                        .content {
                                            transition: all 0.3s ease;
                                            position: absolute;
                                            left: 0;
                                            right: 0;
                                            bottom: get-vw(-60px);
                                            padding: 0 get-vw(55px) get-vw(30px);
            
                                            .pro-name {
                                                padding-bottom: get-vw(30px);
            
                                                .sin {
                                                    color: $black;
                                                    text-align: center;
                                                    font-family: $abhaya;
                                                    font-size: get-vw(24px);
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    line-height: get-vw(26px);
                                                    letter-spacing: get-vw(-1.2px);
                                                    padding-bottom: get-vw(10px);
                                                }
            
                                                .eng {
                                                    color: $black;
                                                    text-align: center;
                                                    font-family: $roboto;
                                                    font-size: get-vw(24px);
                                                    font-style: normal;
                                                    font-weight: 700;
                                                    line-height: get-vw(26px);
                                                    letter-spacing: get-vw(-1.2px);
                                                    padding-bottom: get-vw(10px);
                                                }
            
                                                .tam {
                                                    color: $black;
                                                    text-align: center;
                                                    font-family: $mukta;
                                                    font-size: get-vw(18px);
                                                    font-style: normal;
                                                    font-weight: 700;
                                                    line-height: get-vw(20px);
                                                    letter-spacing: get-vw(-0.9px);
                                                }
                                            }
            
                                            .price {
                                                color: $black;
                                                text-align: center;
                                                font-family: $roboto;
                                                font-size: get-vw(16px);
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: get-vw(22px);
                                                letter-spacing: get-vw(-0.32px);
                                                padding-bottom: get-vw(10px);
            
                                                span {
                                                    display: inline-block;
                                                    font-weight: 700;
                                                }
                                            }
            
                                            .stock {
                                                color: $black;
                                                text-align: center;
                                                font-family: $roboto;
                                                font-size: get-vw(14px);
                                                font-weight: 400;
                                                line-height: get-vw(22px);
                                                padding-bottom: get-vw(30px);
                                            }
            
                                            .common-btn-1 {
                                                position: unset;
                                                padding: 0;
                                            }
                                        }
                                    }
            
                                    &:hover {
                                        // box-shadow: get-vw(20px) get-vw(20px) get-vw(60px) 0px rgba(0, 0, 0, 0.10);
            
                                        .wrap {
                                            .content {
                                                background: linear-gradient(180deg, rgba(149, 193, 31, 0.00) 0%, #95C11F 100%);
                                                bottom: 0;
            
                                                .common-btn-1 {
                                                    position: unset;
                                                    padding: 0;
                                                    color: $white;
            
                                                    svg {
                                                        fill: $white;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .owl-nav {
                        display: flex;
                        flex-direction: column-reverse;
                        flex-wrap: nowrap;
                        justify-content: center;
                        align-items: center;
                        gap: get-vw(25px);
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: auto;
                        right: get-vw(-110px);

                        &.disabled {
                            display: none;
                        }

                        .owl-prev {
                            width: get-vw(70px);
                            height: get-vw(70px);
                            border: get-vw(1px) solid #B6E537;
                            border-radius: 50%;
                            background: $green;
                            box-shadow: rgba($green, 0.2) get-vw(0px) get-vw(8px) get-vw(24px);
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            transition: all 0.3s ease;

                            svg {
                                fill: $white;
                            }

                            &.disabled {
                                width: get-vw(50px);
                                height: get-vw(50px);
                                border: get-vw(1px) solid #E1E1E1;
                                background: $white;
                                box-shadow: none;

                                svg {
                                    fill: #E1E1E1;
                                }
                            }
                        }

                        .owl-next {
                            width: get-vw(70px);
                            height: get-vw(70px);
                            border: get-vw(1px) solid #B6E537;
                            border-radius: 50%;
                            background: $green;
                            box-shadow: rgba($green, 0.2) get-vw(0px) get-vw(8px) get-vw(24px);
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            transition: all 0.3s ease;

                            svg {
                                fill: $white;
                            }

                            &.disabled {
                                width: get-vw(50px);
                                height: get-vw(50px);
                                border: get-vw(1px) solid #E1E1E1;
                                background: $white;
                                box-shadow: none;

                                svg {
                                    fill: #E1E1E1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}