.common-title{
    color: $black;
    text-align: center;
    font-family: $roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: -1.3px;

    padding-bottom: 20px;
}

.common-desc{
    color: $black;
    text-align: center;
    font-family: $barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.32px;
    
    padding-bottom: 50px;
}

.common-btn-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0;
    gap: 20px;

    color: $black;
    text-decoration: none;
    font-family: $barlow;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 27px;
    letter-spacing: 3.92px;
    text-transform: uppercase;

    svg {
    transform: rotate(315deg);
    width: 30px;
    height: 30px;
    fill: $green;
    }
}

@media (min-width: 768px){

}

@media (min-width: 992px){

}

@media (min-width: 1200px){
    .common-title{
        font-size: get-vw(32px);
        line-height: get-vw(35px);
        letter-spacing: get-vw(-1.3px);
    
        padding-bottom: get-vw(20px);
    }
    
    .common-desc{
        font-size: get-vw(17px);
        line-height: get-vw(26px);
        letter-spacing: get-vw(-0.32px);
        
        width: get-vw(650px);
        margin: 0 auto;
        padding-bottom: get-vw(25px);
    }

    .common-btn-1{
        padding: get-vw(25px) get-vw(55px);
        gap: get-vw(20px);
        width: fit-content;
        font-size: get-vw(14px);
        line-height: get-vw(27px);
        letter-spacing: get-vw(4px);
        margin: 0 auto;

        svg {
            transition: all 0.3s ease;
            transform: rotate(315deg);
            width: get-vw(30px);
            height: get-vw(30px);
        }

        &:hover {
            svg {
                transform: rotate(360deg);
                width: get-vw(30px);
                height: get-vw(30px);
            }
        }
    }
}